@import "tailwindcss";

:root {
  --background: #0A0A0A;       
  --foreground: #EDEDED;       
  --surface: #141414;          
  --border: #262626;           
  --primary: #10B981;          
  --danger: #EF4444;           
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-danger: var(--danger);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {

  .maplibregl-popup-content {
    @apply bg-[#1A1A1A]! text-white! p-0! rounded-lg! shadow-2xl! border! border-white/10!;
  }

  .maplibregl-popup-close-button {
    @apply text-gray-400 hover:text-white text-xl px-2 py-1 outline-none focus:outline-none!;
  }

  .maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: #1A1A1A !important;
  }

  .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: #1A1A1A !important;
  }

  .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    border-right-color: #1A1A1A !important;
  }

  .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    border-left-color: #1A1A1A !important;
  }
}